{% extends "questions/base.html" %}
{% block header %}
    <br>
    <div class="row row-offcanvas">
        <div class="col-xs-10 col-sm-9 col-lg-10">
          <h2>{{question.title}}</h2>
        </div>
        <div class="col-xs-2 col-sm-2">
          <div class="row-offcanvas">
            <div align="right">
              <!-- <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Create ask</button> -->
              <button type="button" class="btn btn-primary" onclick="window.location='{% url 'ask' %}';">Create Ask</button>
            </div>
          </div>
        </div>
    </div>
    <br>
{% endblock %}
{% block content %}
{% load static %}   
    <div class="row row-offcanvas">
        <div class="col-1 arrow-place">
          <div><a class="arrow" href="#"><i class="fas fa-angle-up"></i></a></div>
          <div align="center grey-text">{{question.likes}}</div>
          <div><a class="arrow" href="#"><i class="fas fa-angle-down"></i></a></div>
        </div>
        <div class="col-2 col-sm-3 col-lg-2">
            <div align=center width="115" height="115">
            {% static "avatar_" as base_url %}
            <img src="{{base_url}}{{question.id}}.png" width="115" height="115">
            </div>
        </div>
        <div class="col-xs-9 col-sm-7 col-lg-9" style="font-size: 16px;">
            <p>{{question.text|safe|linebreaks}}</p>
            <i class="fas fa-user"></i> by <a href="#">{{question.author}}</a> | 
            <i class="fas fa-calendar-alt"></i>{{question.date|date:"d-m-Y"}} | 
            <i class="fas fa-tags"></i> Tags : 
            {% for tag in tags_list %}
                <a href="{{ tag.get_url }}"><span class="badge badge-primary"> {{tag.title}} </span></a>
            {% endfor %}
        </div>
    </div>
    <div>
        {% if question.count_answers == 1 or question.count_answers == 0 %}
            <h3>{{ question.count_answers }} Answer</h3>
        {% else %}
            <h3>{{ question.count_answers }} Answers</h3>
        {% endif %}
        <hr> 
    </div>

    {% for answer in answers %}
    <div class="jumbotron pg-15" id="answer_{{answer.id}}">
        <div class="row">
            {% load static %}
            <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
            <div class="row row-offcanvas">
                <div class="col-1 arrow-place">
                <div><a class="arrow" href="#"><i class="fas fa-angle-up"></i></a></div>
                <div align="center grey-text">{{answer.likes}}</div>
                <div><a class="arrow" href="#"><i class="fas fa-angle-down"></i></a></div>
                </div>
                <div class="col-3 align-self-center mg-top-15">
                    {% static "avatar_" as base_url %}
                    <img src="{{base_url}}{{answer.id}}.png" width="74" height="74">
                </div>
            </div>
        </div>
            <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
            <p class="font-size">{{answer.text}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg discpript">
                <p2> 
                    <i class="fas fa-user"></i> by <a href="#"> {{answer.author}}</a> | 
                    <i class="fas fa-calendar-alt"></i> {{answer.date|date:"d-m-Y"}}<!--{{post.date|date:"d-m-Y"}}-->
                </p2>
            </div>
        </div>	
    </div>
    {% endfor %}
    <br> 

    {% if user.is_authenticated %}
        <form class="form-horizontal" method="post" action="{{ question.get_url }}">
            {% csrf_token %}
            {% for field in form %}
                <!-- <textarea class="form-control" rows="3" placeholder="Your answer..." style="margin-top: 10px"></textarea> -->
                {{ field }}
                {% for error in field.errors %}
                    <span class="help-block col-sm-offset-4 col-sm-8">{{ error }}</span>
                {% endfor %}
                <br>
            {% endfor %}
            <div class="mg-bot-40" align="right">
                <button type="submit" class="btn btn-primary">Post answer</button>
            </div>
        </form>
    {% endif %}
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                <h4 class="modal-title" id="myModalLabel">New question</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputTitle" class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-12">
                    <input type="text" class="form-control" id="inputTitle" placeholder="Type your title here...">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputQuestion" class="col-sm-2 control-label">Question</label>
                    <div class="col-sm-12">
                    <textarea class="form-control" rows="3" placeholder="Type your question here..."></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        <label for="inputTitle" class=" control-label">Tags</label>
                    </div>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="inputTitle" placeholder="Tags...">
                    </div>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Ask!</button>
            </div>
            </div>
        </div>
    </div>
{% endblock %}