<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}Ask Prischep{% endblock %}</title>
    <!-- Bootstrap -->
    {% load static %}
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css"%}">
    <link rel="stylesheet" href="{% static "my.css" %}">
    <link rel="stylesheet" href="{% static "fontawesome/css/all.min.css" %}">
  </head>

  <body>
    <div class="container">
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static "questions.png" %}" width="64" height="64" class="d-inline-block align-top" alt=""></a>
          <a class="navbar-brand" href="{% url 'index' %}">AskPrischep</a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              {% block select %}
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'index' %}">Home</a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link" href="{% url 'about' %}">About</a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
              {% endblock %}              
            </ul>
            <form class="form-inline mt-4 mt-md-0" method="get" action="#">
              <input class="form-control mr-sm-2" type="text" placeholder="Question" aria-label="Search">
              <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
            {% if user.is_authenticated %}
              <ul class="nav navbar-right top">
                <div class="place-avatar">
                    <img src="{% static "default_avatar.png" %}" width="64" height="64">
                </div>	
                <dl class="navbar-right place-data">
                  <dd><a class="nav" href="#">{{ user.username }}</a></dd>
                  <dd><a href="{% url 'settings' %}" style="margin-right: 5px" class="navbar-link">Settings</a> <a href="{% url 'logout' %}?from={{request.path}}" class="navbar-link">log out</a></dd>
                </dl>
              </ul>
            {% else %}
              <ul class="nav navbar-right top" style="margin-left: 80px;">
                <ul style="margin: 10px" class="nav navbar-right">
                  <a class="nav mg-7" href="{% url 'login' %}?next={{request.path}}">Log in</a> 
                  <a href="{% url 'signup' %}" class="navbar-link mg-7"> Register</a>
                </ul>
              </ul>
            {% endif %}
          </div>
        </nav>
      </header>
    </div><!--header-->
      

      <main role="main" class="container">
        <div class="row">
          <div class="col-md-9 blog-main">
          
          {% block header %}
          {% endblock %}

          {% block error %}
          {% endblock %}

          {% block content %}
          {% endblock %}

          {% block pagination %}
          {% endblock %}

          </div><!--Main part-->
          
          <aside class="col-md-3 blog-sidebar" style="margin-top: 24px;">
            <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">Popular Tags</h4>
            {% block popular-tags %}
            <p class="mb-0">perl <font color="red"><b>Python</b></font> Technopark <font color="red"><b>MySQL</b></font> Django Mail.Ru <font color="blue"><strong>Tarantool</strong></font> Firefox Web <font color="green"><strong>Golang</strong></font></p>
            {% endblock %}
          </div>

          <div class="p-3">
            <h4 class="font-italic">Best Members</h4>
            <ol class="list-unstyled mb-0">
              {% block members %}
              <li><a href="#">Mr.Freeman</a></li>
              <li><a href="#">Dr.House</a></li>
              <li><a href="#">Bender</a></li>
              <li><a href="#">Mr.Miles</a></li>
              <li><a href="#">Queen Victoria</a></li>
              <li><a href="#">Best Orangutang</a></li>
              <li><a href="#">Bugs Banny</a></li>
              {% endblock %}
            </ol>
          </div>
          </aside>
        </div> <!--row-->
      </main>

    <footer class="blog-footer">
      <p id="Bottom">The site is made by programmer Dmitry Prischep | 2018</p>
      <p><a href="#">Back to top</a></p>
    </footer>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "./jquery.min.js" %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "./bootstrap/js/bootstrap.min.js" %}"></script>
  </body>

</html>