{% block content %}

<div class="jumbotron">
    <div class="row">
        <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
        <div class="row row-offcanvas">
            <div class="col-1 arrow-place">
            <div><a class="arrow" href="#"><i class="fas fa-angle-up"></i></a></div>
            <div align="center grey-text">19</div>
            <div><a class="arrow" href="#"><i class="fas fa-angle-down"></i></a></div>
            </div>
            <div class="col-3" class="mg-top-15"><img src="{% static "default_avatar.png" %}" width="74" height="74">
            </div>
        </div>
    </div>
        <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
        <a href="#"><h2>C++ Object Relational Mapping (ORM)</h2></a>
        <p class="font-size">Creating a simple ORM for C++ on-top of SQL database</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg discpript">
            <p2> 
        <i class="fas fa-user"></i> by <a href="#"> PrischepDev</a> | 
        <i class="fas fa-calendar-alt"></i> Sep 23rd, 2018 | 
        <i class="fas fa-comment-alt"></i><a href="#"> 31 Answers</a> | 
        <i class="fas fa-tags"></i> Tags : 
        <a href="#"><span class="badge badge-primary"> C</span></a>
        <a href="#"><span class="badge badge-primary"> C++ </span></a>
        <a href="#"><span class="badge badge-success"> Programing </span></a>
        </p2>
        </div>
    </div>	
    </div>

    <div class="jumbotron">
    <div class="row">
        <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
        <div class="row row-offcanvas">
        <div class="col-1 arrow-place">
            <div><a class="arrow" href="#"><i class="fas fa-angle-up"></i></a></div>
            <div align="center grey-text">33</div>
            <div><a class="arrow" href="#"><i class="fas fa-angle-down"></i></a></div>
            </div>
            <div class="col-1" class="mg-top-15" "><img src="static/avatar_1.png" width="74" height="74">
            </div>
        </div>
        </div>
        <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
        <a href="#"><h2>GraphQuery - Powerful Text Query Language</h2></a>
        <p class="font-size">GraphQuery is a query language and execution engine tied to any backend service. It is `back-end language independent`</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg discpript">
            <p2> 
        <i class="fas fa-user"></i> by <a href="#"> Mr.Freeman </a> | 
        <i class="fas fa-calendar-alt"></i> Oct 10rd, 2018 | 
        <i class="fas fa-comment-alt"></i><a href="#"> 9 Answers</a> | 
        <i class="fas fa-tags"></i> Tags : 
        <a href="#"><span class="badge badge-primary"> Javascript</span></a>
        <a href="#"><span class="badge badge-primary"> Windows </span></a>
        <a href="#"><span class="badge badge-success"> HTML </span></a>
        <a href="#"><span class="badge badge-success"> Linux </span></a>
        </p2>
        </div>
    </div>	
    </div>

    <div class="jumbotron">
    <div class="row">
        <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
        <div class="row row-offcanvas">
            <div class="col-1 arrow-place">
            <div><a class="arrow" href="#"><i class="fas fa-angle-up"></i></a></div>
            <div align="center grey-text">33</div>
            <div><a class="arrow" href="#"><i class="fas fa-angle-down"></i></a></div>
            </div>
            <div class="col-3" class="mg-top-15" "><img src="static/avatar_2.png" width="74" height="74">
            </div>
        </div>
        </div>
        <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
        <a href="#"><h2>Mobile App Security Made Quick and Easy</h2></a>
        <p class="font-size">Quixxi is an intelligent and integrated end-to-end mobile app security solution that allows developers to protect and monitor any mobile app in minutes.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg discpript">
            <p2> 
        <i class="fas fa-user"></i> by <a href="#"> Bugs Banny </a> | 
        <i class="fas fa-calendar-alt"></i> Nov 1rd, 2018 | 
        <i class="fas fa-comment-alt"></i><a href="#"> 3 Answers</a> | 
        <i class="fas fa-tags"></i> Tags : 
        <a href="#"><span class="badge badge-primary"> Mobile</span></a>
        <a href="#"><span class="badge badge-primary"> Android </span></a>
        <a href="#"><span class="badge badge-success"> iOS </span></a>
        </p2>
        </div>
    </div>	
    </div>
{% endblock %}