<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Ask Prischep</title>   
    <!-- Bootstrap -->
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/my.css" rel="stylesheet">
    <link href="static/fontawesome/css/all.min.css" rel="stylesheet">
  </head>

  <body>
  	<div class="container">
  		<header>
	      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	      	<a class="navbar-brand" href="#"><img src="static/questions.png" width="64" height="64" class="d-inline-block align-top" alt=""></a>
	        <a class="navbar-brand" href="#">AskPrischep</a>

	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	          <span class="navbar-toggler-icon"></span>
	        </button>

	        <div class="collapse navbar-collapse" id="navbarCollapse">
	          <ul class="navbar-nav mr-auto">
	            <li class="nav-item active">
	              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	            </li>
	            <li class="nav-item">
	              <a class="nav-link" href="#">About</a>
	            </li>
	            <li class="nav-item">
	              <a class="nav-link" href="#">Contact</a>
	            </li>
	          </ul>
	          <form class="form-inline mt-4 mt-md-0">
	            <input class="form-control mr-sm-2" type="text" placeholder="Question" aria-label="Search">
	            <button class="btn btn-primary my-2 my-sm-0" type="submit">Ask</button>
	          </form>
	          <ul class="nav navbar-right top">
	            <div class="place-avatar">
	            		<img src="static/default_avatar.png" width="64" height="64">
            	</div>	
		          <dl class="navbar-right place-data">
		            <dd><a class="nav" href="#">DmitryDev</a></dd>
		            <dd><a href="#" style="margin-right: 5px" class="navbar-link">Settings</a> <a href="#" class="navbar-link">log out</a></dd>
			      	</dl>
	          </ul>
	        </div>
	      </nav>
   		</header>
	  </div><!--header-->
			

			<main role="main" class="container">
				<div class="row">
					<div class="col-md-9 blog-main">
	          <br>

	          <div class="jumbotron">
	            <div class="row">
	              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
	                <div class="row row-offcanvas">
	                	<div class="col-1 arrow-place">
	                    <div><a class="arrow" href="#"><i class="fas fa-angle-up"></i></a></div>
	                    <div align="center grey-text">19</div>
	                    <div><a class="arrow" href="#"><i class="fas fa-angle-down"></i></a></div>
	                  </div>
	                  <div class="col-3" class="mg-top-15"><img src="static/default_avatar.png" width="74" height="74">
	                  </div>
                	</div>
              </div>
	              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
	                <a href="#"><h2>C++ Object Relational Mapping (ORM)</h2></a>
	                <p class="font-size">Creating a simple ORM for C++ on-top of SQL database</p>
	              </div>
	            </div>
	            <div class="row">
	              <div class="col-lg discpript">
	              	<p2> 
	                <i class="fas fa-user"></i> by <a href="#"> PrischepDev</a> | 
	                <i class="fas fa-calendar-alt"></i> Sep 23rd, 2018 | 
	                <i class="fas fa-comment-alt"></i><a href="#"> 31 Answers</a> | 
	                <i class="fas fa-tags"></i> Tags : 
	                <a href="#"><span class="badge badge-primary"> C</span></a>
	                <a href="#"><span class="badge badge-primary"> C++ </span></a>
	                <a href="#"><span class="badge badge-success"> Programing </span></a>
	              </p2>
	              </div>
            	</div>	
	          </div>

	          <div class="jumbotron">
	            <div class="row">
	              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
	                <div class="row row-offcanvas">
                	<div class="col-1 arrow-place">
	                    <div><a class="arrow" href="#"><i class="fas fa-angle-up"></i></a></div>
	                    <div align="center grey-text">33</div>
	                    <div><a class="arrow" href="#"><i class="fas fa-angle-down"></i></a></div>
                  	</div>
	                  <div class="col-1" class="mg-top-15" "><img src="static/avatar_1.png" width="74" height="74">
	                  </div>
	                </div>
	              </div>
	              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
	                <a href="#"><h2>GraphQuery - Powerful Text Query Language</h2></a>
	                <p class="font-size">GraphQuery is a query language and execution engine tied to any backend service. It is `back-end language independent`</p>
	              </div>
	            </div>
	            <div class="row">
	              <div class="col-lg discpript">
	              	<p2> 
	                <i class="fas fa-user"></i> by <a href="#"> Mr.Freeman </a> | 
	                <i class="fas fa-calendar-alt"></i> Oct 10rd, 2018 | 
	                <i class="fas fa-comment-alt"></i><a href="#"> 9 Answers</a> | 
	                <i class="fas fa-tags"></i> Tags : 
	                <a href="#"><span class="badge badge-primary"> Javascript</span></a>
	                <a href="#"><span class="badge badge-primary"> Windows </span></a>
	                <a href="#"><span class="badge badge-success"> HTML </span></a>
	                <a href="#"><span class="badge badge-success"> Linux </span></a>
	              </p2>
	              </div>
            	</div>	
	          </div>

	          <div class="jumbotron">
	            <div class="row">
	              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
	                <div class="row row-offcanvas">
	                	<div class="col-1 arrow-place">
	                    <div><a class="arrow" href="#"><i class="fas fa-angle-up"></i></a></div>
	                    <div align="center grey-text">33</div>
	                    <div><a class="arrow" href="#"><i class="fas fa-angle-down"></i></a></div>
	                  </div>
	                  <div class="col-3" class="mg-top-15" "><img src="static/avatar_2.png" width="74" height="74">
	                  </div>
	                </div>
	              </div>
	              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
	                <a href="#"><h2>Mobile App Security Made Quick and Easy</h2></a>
	                <p class="font-size">Quixxi is an intelligent and integrated end-to-end mobile app security solution that allows developers to protect and monitor any mobile app in minutes.</p>
	              </div>
	            </div>
	            <div class="row">
	              <div class="col-lg discpript">
	              	<p2> 
	                <i class="fas fa-user"></i> by <a href="#"> Bugs Banny </a> | 
	                <i class="fas fa-calendar-alt"></i> Nov 1rd, 2018 | 
	                <i class="fas fa-comment-alt"></i><a href="#"> 3 Answers</a> | 
	                <i class="fas fa-tags"></i> Tags : 
	                <a href="#"><span class="badge badge-primary"> Mobile</span></a>
	                <a href="#"><span class="badge badge-primary"> Android </span></a>
	                <a href="#"><span class="badge badge-success"> iOS </span></a>
	              </p2>
	              </div>
            	</div>	
	          </div>

					</div><!--Main part-->
          
					<aside class="col-md-3 blog-sidebar" style="margin-top: 24px;">
						<div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">Popular Tags</h4>
            <p class="mb-0">perl <font color="red"><b>Python</b></font> Technopark <font color="red"><b>MySQL</b></font> Django Mail.Ru <font color="blue"><strong>Tarantool</strong></font> Firefox Web <font color="green"><strong>Golang</strong></font></p>
          </div>

          <div class="p-3">
            <h4 class="font-italic">Best Members</h4>
            <ol class="list-unstyled mb-0">
              <li><a href="#">Mr.Freeman</a></li>
              <li><a href="#">Dr.House</a></li>
              <li><a href="#">Bender</a></li>
              <li><a href="#">Mr.Miles</a></li>
              <li><a href="#">Queen Victoria</a></li>
              <li><a href="#">Best Orangutang</a></li>
              <li><a href="#">Bugs Banny</a></li>
            </ol>
          </div>
					</aside>
      		<nav aria-label="Page navigation">
					  <ul class="pagination">
					    <li class="page-item disabled"><span class="page-link">Previous</span></li>
					    <li class="page-item active"><a class="page-link" href="#">1</a></li>
					    <li class="page-item"><span class="page-link">2</span></li>
					    <li class="page-item"><a class="page-link" href="#">3</a></li>
					    <li class="page-item"><a class="page-link" href="#">Next</a></li>
					  </ul>
					</nav>
				</div> <!--row-->
			</main>

    <footer class="blog-footer">
      <p>The site is made by programmer Dmitry Prischep | 2018</p>
      <p><a href="#">Back to top</a></p>
    </footer>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="static/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
  </body>

</html>